@model InterfazBasica.Models.Pacs.PacienteCreateDto
@{
    ViewData["Title"] = "CrearPaciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="CrearPaciente">
    <div class="container border p-3">
        <!--Validaciones para clases -->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!-- Botton para agregar paciente -->
        <div class="row">
            <h2 class="text-info"> Registro de paciente</h2>
        </div>
        <!-- ID de paciente -->
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">ID</label>
                <input asp-for="PatientID" class="form-control" />
                <span asp-validation-for="PatientID" class="text-danger"></span>
            </div>
        </div>
        <!-- Nombre de paciente -->
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Nombre</label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
        </div>
        <!-- Edad -->
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Edad</label>
                <input asp-for="PatientAge" class="form-control" />
                <span asp-validation-for="PatientAge" class="text-danger"></span>
            </div>
        </div>
        <!-- Sexo -->
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Sexo</label>
                <textarea asp-for="PatientSex" class="form-control"></textarea>
                <span asp-validation-for="PatientSex" class="text-danger"></span>
            </div>
        </div>
        <!-- Peso(Kg) -->
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Peso(Kg)</label>
                <input asp-for="PatientWeight" class="form-control" />
                <span asp-validation-for="PatientWeight" class="text-danger"></span>
            </div>
        </div>
       @* <!-- Ocupantes -->
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Ocupantes</label>
                <input asp-for="PatientBirthDate" class="form-control" />
                <span asp-validation-for="PatientBirthDate" class="text-danger"></span>
            </div>
        </div>*@
        <!-- Metros Cuadrados -->
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Emisor de paciente</label>
                <input asp-for="IssuerOfPatientID" class="form-control" />
                <span asp-validation-for="IssuerOfPatientID" class="text-danger"></span>
            </div>
        </div>
       @* <!-- Amenidad -->
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">Amenidad</label>
                <textarea asp-for="Amenidad" class="form-control"></textarea>
                <span asp-validation-for="Amenidad" class="text-danger"></span>
            </div>
        </div>*@
        <!-- Botton para grabar villa -->
        <div class="d-grid gap-2 d-md-block mt-2">
            <button type="submit" class="btn btn-primary">Grabar</button>
            <a asp-controller="Villa" asp-action="IndexPaciente" class="btn btn-success">Regresar</a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}