/* Estilos personalizados */
.text-primary {
    color: #005f73; /* Un azul oscuro como color principal */
}

.btn-outline-primary {
    border-color: #005f73;
    color: #005f73;
}

    .btn-outline-primary:hover {
        background-color: #005f73;
        color: #ffffff;
    }

.table {
    border-collapse: separate;
    border-spacing: 0 15px; /* Espacio entre filas */
}

    .table thead th {
        background-color: #0a9396; /* Un azul verdoso para el encabezado */
        color: #ffffff;
    }

    .table tbody td {
        background-color: #94d2bd; /* Un azul verdoso claro para las celdas */
        border: 0;
    }

    .table tbody tr {
        border-radius: 8px; /* Bordes redondeados para las filas */
    }

.container {
    background-color: #e9d8a6; /* Un color crema para el fondo del contenedor */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave para profundidad */
}
