@model InterfazBasica_DCStore.Models.Indentity.LoginRequestDto

@section Styles {
    <link rel="stylesheet" href="~/css/StyleLogin.css" asp-append-version="true" />
}

<form method="post" autocomplete="off" asp-controller="Usuario">
    <div class="wrapper">
        <div class="login_box">
            <div class="login-header">
                <span>Login</span>
            </div>
            @*PENDIENTE VALIDAR SI ESTO FUNCIONA *@
            <div style="position: absolute; left: -9999px;">
                <input type="password" name="fakepasswordremembered" />
            </div>
            @*HASTA AQUI*@
            <div class="input_box"> 
                <input asp-for="UserName" class="form-control input-field" placeholder="Username" id="user" required>
                <label for="user" class="label">Username</label>
                <i class="bx bx-user icon"></i>
            </div>
            <div class="input_box"> 
                <input asp-for="Password" id="pass" type="password" class="form-control input-field" placeholder="Password" autocomplete="off" required>
                <label for="pass" class="label">Password</label>
                <i class="bx bx-lock-alt icon"></i>
            </div>
            <div class="input_box"> 
                <input asp-for="LocalIP" id="ip" type="text" class="form-control input-field-ip" autocomplete="off" required readonly>
                <label for="ip" class="label-ip">IP</label>
                <i class='bx bx-code icon-ip'></i>
            </div>
            <div class="input_box">
                <button type="submit" class="input-submit" value="Login">Login</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}